.card {
    display: flex;
    gap: var(--spacing-3xl);
    padding: var(--spacing-xl);
    background-color: var(--color-white);
    border-radius: var(--border-radius-md);
}

.content {
    flex: 1;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: var(--spacing-2xl);
}

.mainInfo {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: var(--spacing-md);
    width: 100%;
}

.headerInfo {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0;
}

.title {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 10px;
}

.subtitle {
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-base);
    line-height: var(--line-height-relaxed);
    color: var(--color-gray);
}

.name {
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-2xl);
    line-height: 1;
    color: var(--color-text);
}

.readMoreBtn {
    border: none;
    color: var(--color-text);
    text-decoration: underline;
    cursor: pointer;
    padding: 0;
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-medium);
    background: none;
}

.experience {
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-base);
    line-height: var(--line-height-relaxed);
    color: var(--color-text);
}

.contactBtn {
    padding: var(--spacing-md) var(--spacing-3xl);
    background-color: var(--color-primary);
    border: none;
    border-radius: var(--border-radius-sm);
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-lg);
    line-height: var(--line-height-loose);
    color: var(--color-text);
    cursor: pointer;
}

.contactBtn:hover {
    background-color: var(--color-primary-hover);
}