.card {
    display: flex;
    gap: 48px;
    padding: 24px;
    background-color: #fff;
    border-radius: 24px;
}

.content {
    flex: 1;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 32px;
}

.mainInfo {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}

.headerInfo {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0;
}

.title {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 10px;
}

.subtitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #8a8a89;
}

.name {
    font-weight: 500;
    font-size: 24px;
    line-height: 1;
    color: #121417;
}

.readMoreBtn {
    border: none;
    color: #121417;
    text-decoration: underline;
    cursor: pointer;
    padding: 0;
    font-size: 16px;
    font-weight: 500;
    background: none;
}

.experience {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #121417;
}

.contactBtn {
    padding: 16px 48px;
    background-color: #f4c550;
    border: none;
    border-radius: 12px;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.55556;
    color: #121417;
    cursor: pointer;
}

.contactBtn:hover {
    background-color: #ffdc86;
}