.card {
    display: flex;
    gap: 48px;
    padding: 24px;
    background-color: #fff;
    border-radius: 24px;

}

.avatarWrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #fbe9ba;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    padding: 9px;
    flex-shrink: 0;
}

.avatar {
    width: 96px;
    height: 96px;
    border-radius: 50%;
    object-fit: cover;

}

.spot {
    position: absolute;
    top: 16px;
    right: 20px;

}


.content {
    flex: 1;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 32px;
}

.mainInfo {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}

.headerInfo {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0;

}

.title {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 10px;
}

.subtitle {
    font-weight: 500;
    font-size: 16px;
    /* line-height: 24px; */
    line-height: 1.5;
    color: #8a8a89;
}

.name {
    font-weight: 500;
    font-size: 24px;
    /* line-height: 24px; */
    line-height: 1;
    color: #121417;
}

.stats {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 64px;
}

.statsList {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 32px;
    font-size: 16px;
}

.statItem {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 8px;
}

.statItem:not(:last-child)::after {
    position: absolute;
    content: "";
    right: -16px;
    width: 1px;
    height: 16px;
    display: inline-block;
    background-color: rgba(18, 20, 23, 0.2);


}

.bookOpen {
    stroke: #121417;
}

.statText {
    font-weight: 500;
    font-size: 16px;
    /* line-height: 24px; */
    line-height: 1.5;
    color: #121417;
}

.price {
    color: #38cd3e;
    font-weight: 500;
}

.heart {
    stroke: #121417;
}

.heartActive {
    stroke: #ff0000;
    fill: #ff0000;
}

.heart:hover {
    scale: 1.1;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.infoItem {
    font-weight: 500;
    font-size: 16px;
    /* line-height: 24px; */
    line-height: 1.5;
    color: #8a8a89;


}

.infoItemLang {
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #121417;
}

.infoItemDesc {
    color: #121417;
}

.readMoreBtn {
    border: none;
    color: #121417;
    text-decoration: underline;
    cursor: pointer;
    padding: 0;
    font-size: 16px;
    font-weight: 500;
}

.levelsList {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;

}

.levelsList li:first-child {
    background: #f4c550;
    border: transparent;
}

.levelBadge {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 7px 12px;
    border-radius: 35px;

    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    color: #121417;

    border: 1px solid rgba(18, 20, 23, 0.2);
}

.experience {
    font-weight: 400;
    font-size: 16px;
    /* line-height: 24px; */
    line-height: 1.5;
    color: #121417;
}

.reviews {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 32px;
}

.review {
    display: flex;
    flex-direction: column;
    gap: 16px;
}



.reviewUser {
    display: flex;
    gap: 16px;

}

.reviewHeader {
    display: flex;
    align-items: center;
    gap: 12px;
}

.reviewUserImage {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ffc531;
    display: flex;
    align-items: center;
    justify-content: center;
}

.reviewerInfo {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 2px;
}

.reviewerName {
    font-weight: 500;
    font-size: 16px;

    /* line-height: 24px; */
    line-height: 1.5;
    color: #8a8a89;
}

.reviewRating {
    display: flex;
    align-items: center;
    gap: 8px;

    font-weight: 500;
    font-size: 14px;

    /* line-height: 18px; */
    line-height: 1.28571;
    color: #121417;
}



.reviewComment {
    font-weight: 500;
    font-size: 16px;

    /* line-height: 24px; */
    line-height: 1.5;
    color: #121417;
}

.contactBtn {

    padding: 16px 48px;
    background-color: #f4c550;

    border: none;
    border-radius: 12px;

    font-weight: 700;
    font-size: 18px;
    /* line-height: 28px; */
    line-height: 1.55556;
    color: #121417;
}

.contactBtn:hover {
    background-color: #ffdc86;

}