.reviews {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: var(--spacing-2xl);
}

.review {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
}

.reviewUser {
    display: flex;
    gap: var(--spacing-md);
}

.reviewHeader {
    display: flex;
    align-items: center;
    gap: var(--border-radius-sm);
}

.reviewUserImage {
    width: 40px;
    height: 40px;
    border-radius: var(--border-radius-full);
    background-color: #ffc531;
    display: flex;
    align-items: center;
    justify-content: center;
}

.reviewerInfo {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 2px;
}

.reviewerName {
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-base);
    line-height: var(--line-height-relaxed);
    color: var(--color-gray);
}

.reviewRating {
    display: flex;
    align-items: center;
    gap: var(--spacing-sm);
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-sm);
    line-height: 1.28571;
    color: var(--color-text);
}

.reviewComment {
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-base);
    line-height: var(--line-height-relaxed);
    color: var(--color-text);
}