.reviews {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 32px;
}

.review {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.reviewUser {
    display: flex;
    gap: 16px;
}

.reviewHeader {
    display: flex;
    align-items: center;
    gap: 12px;
}

.reviewUserImage {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ffc531;
    display: flex;
    align-items: center;
    justify-content: center;
}

.reviewerInfo {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 2px;
}

.reviewerName {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #8a8a89;
}

.reviewRating {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28571;
    color: #121417;
}

.reviewComment {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #121417;
}