.message {
    margin-bottom: var(--spacing-lg);
    font-size: var(--font-size-2xl);
    font-weight: bold;
    color: var(--color-text);
}

.wrapperBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-lg);
}

.button {
    background: var(--color-primary);
    border-radius: var(--border-radius-sm);
    border: none;
    padding: var(--spacing-md) var(--spacing-2xl);
    width: 180px;

    font-weight: 600;
    font-size: var(--font-size-lg);
    line-height: var(--line-height-loose);
    color: var(--color-text);
}

.button:hover {
    background: var(--color-primary-hover);
}