.container {
    /* display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 24px; */
    max-width: 1440px;
    height: 790px;
    background: #fff;
    margin: 0 auto;
    padding: 0 64px;
    border: 1px solid #E2E8F0;
}