.container {
    /* display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 24px; */
    max-width: 1440px;

    background: var(--color-white);
    margin: 0 auto;
    padding: 0 var(--spacing-4xl);

}