.levelsList {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-sm);
}

.levelsList li:first-child {
    background: var(--color-primary);
    border: transparent;
}

.levelBadge {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 7px var(--border-radius-sm);
    border-radius: 35px;
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-medium);
    line-height: 1.14;
    color: var(--color-text);
    border: 1px solid var(--color-border-hover);
}