.filtersContainer {
    background-color: inherit;
    padding: 0 64px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.favoritePage {
    background: #f8f8f8;
    padding: 32px 0;
    min-height: calc(100vh - 100px);
}