.filtersContainer {
    background-color: inherit;
    padding: 0 var(--spacing-4xl);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-2xl);
}

.favoritePage {
    background: var(--color-background);
    padding: var(--spacing-2xl) 0;
    min-height: calc(100vh - 100px);
}