.navigation {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 390px;

    width: 661px;
    height: 28px;
}


.logoContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: var(--spacing-sm);
    width: 133px;
    height: 28px;
}

.logoText {
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-xl);

    line-height: var(--line-height-tight);
    letter-spacing: -0.02em;
    color: var(--color-text);
}

.navLinks {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 28px;

    width: 138px;
    height: 20px;
}

.link {
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-base);

    line-height: var(--line-height-snug);
    color: var(--color-text);
}

.link:hover {

    opacity: 0.5;
}

.active {
    font-weight: 600;
}

.active::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--color-primary);
    margin-top: var(--spacing-xs);
}