.noResults {
    text-align: center;
    color: var(--color-gray);
    font-size: var(--font-size-lg);
    padding: var(--spacing-2xl);
}

.loadMoreBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 0px;
    border-radius: var(--border-radius-sm);
    padding-block: var(--spacing-md);
    padding-inline: var(--spacing-3xl);
    width: 183px;
    height: 60px;
    background: var(--color-primary);
    margin: 0 auto;

    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-lg);
    line-height: var(--line-height-loose);
    color: var(--color-text);
}

.loadMoreBtn:hover {
    background: var(--color-primary-hover);
}