.header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 268px;
    max-width: 1184px;
    height: 48px;
    border: 1px solid #E2E8F0;
    margin: 0 64px;
    margin-top: 20px;
}