.authNav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: var(--spacing-md);

    width: 255px;
    height: 48px;
}

.loginButton {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: var(--spacing-sm);
    width: 73px;
    height: 20px;
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-base);
    line-height: var(--line-height-snug);
    color: var(--color-text);
}

.loginButton:hover {
    color: var(--color-primary-hover);
}

.registerButton {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: var(--spacing-sm);

    border-radius: var(--border-radius-sm);
    padding-block: 14px;
    padding-inline: 39px;
    width: 166px;
    height: 48px;

    background: var(--color-text);

    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-base);

    line-height: var(--line-height-snug);
    color: var(--color-white);

    border: none;
}

.registerButton:hover {
    color: var(--color-primary-hover);
}