.teachersPage {
    background: #f8f8f8;
    padding: 20px 0 64px 0;
}

.filtersContainer {
    background-color: inherit;
    padding: 0 128px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}