.teachersPage {
    background: #f8f8f8;
}

.filtersContainer {
    background-color: inherit;
    padding: 0 128px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.filters {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 20px;
    width: 583px;

}

.filterLabel {
    font-weight: 500;
    font-size: 14px;
    /* line-height: 18px; */
    line-height: 1.28571;
    color: #8a8a89;
}