.titleContainer {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: var(--spacing-lg);

    width: 438px;
}

.title {
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-4xl);
    line-height: var(--line-height-tight);
    letter-spacing: -0.02em;
    color: var(--color-text);
}

.text {
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-base);

    line-height: var(--line-height-normal);
    color: var(--color-text-secondary);
}

.form {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: var(--spacing-lg);
    width: 100%;

}

.inputField {
    border: 1px solid var(--color-border);
    border-radius: var(--border-radius-sm);
    padding: var(--spacing-md) var(--spacing-lg);
    width: 100%;

}

.inputField::placeholder {
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-base);
    line-height: var(--line-height-normal);
    color: var(--color-text-placeholder);
}

.inputField:focus {
    outline: none;
    border: 1px solid var(--color-primary);
    box-shadow: var(--shadow-focus);
}

.passwordWrapper {
    position: relative;
    width: 100%;
}

.eyeBtn {
    position: absolute;
    right: var(--border-radius-sm);
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}


.formBtn {
    border-radius: var(--border-radius-sm);
    padding: var(--spacing-md);
    width: 438px;
    background: var(--color-primary);

    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-lg);
    line-height: var(--line-height-loose);
    color: var(--color-text);
}

.formBtn:hover {
    background: var(--color-primary-hover);
}

.errorBorder {
    border: 1px solid var(--color-error);
}

.error {
    position: absolute;
    color: var(--color-error);
    font-size: var(--font-size-xs);
}