.wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 8px;
}

.label {
    font-weight: 500;
    font-size: 14px;
    /* line-height: 18px; */
    line-height: 1.28571;
    color: #8a8a89;
}