.wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: var(--spacing-sm);
}

.label {
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-sm);
    line-height: 1.28571;
    color: var(--color-gray);
}