.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;

    animation: fadeIn var(--transition-normal) forwards;
}

.modal {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: var(--spacing-lg);
    border-radius: var(--border-radius-lg);
    padding: var(--spacing-4xl);
    width: 100%;
    max-width: 566px;

    background: var(--color-white);

    animation: scaleIn var(--transition-normal) forwards;
}




.closeBtn {
    position: absolute;
    top: var(--spacing-lg);
    right: var(--spacing-lg);
    width: 32px;
    height: 32px;
    padding: 0;
    border: none;
    background: transparent;
    stroke: currentColor;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes scaleIn {
    from {
        transform: scale(0.8);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

.closeBtn:hover {
    scale: 1.1;
}