.message {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #121417;
    ;
}

.wrapperBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.button {
    background: #f4c550;
    border-radius: 12px;
    border: none;
    padding: 16px 32px;
    width: 180px;

    font-weight: 600;
    font-size: 18px;
    /* line-height: 28px; */
    line-height: 1.55556;
    color: #121417;
}

.button:hover {
    background: #ffda6a;
}