.avatarWrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #fbe9ba;
    border-radius: var(--border-radius-full);
    width: 120px;
    height: 120px;
    padding: 9px;
    flex-shrink: 0;
}

.avatar {
    width: 96px;
    height: 96px;
    border-radius: var(--border-radius-full);
    object-fit: cover;
}

.spot {
    position: absolute;
    top: var(--spacing-md);
    right: var(--spacing-lg);
}