.heroContainer {
    padding-bottom: 32px;
}



.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-xl);
    margin-bottom: var(--spacing-xl);
}


.leftBox {
    border-radius: var(--border-radius-lg);
    width: 720px;

    background: var(--color-background);
    padding: 98px var(--spacing-4xl);
}

.title {
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-5xl);

    line-height: 1.16667;
    letter-spacing: -0.02em;
    color: var(--color-text);
    margin-bottom: var(--spacing-2xl);
}

.text {
    position: relative;
    display: inline-block;
    font-style: italic;
    font-weight: var(--font-weight-regular);
    z-index: 1;
}

.text::before {
    content: '';
    position: absolute;
    top: 20%;
    bottom: 8%;
    left: 0;
    right: 0;
    background: #FBE9BA;
    z-index: -1;
    border-radius: var(--spacing-sm);
}

.description {
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-base);
    line-height: var(--line-height-normal);
    letter-spacing: -0.02em;
    color: var(--color-text);
    margin-bottom: var(--spacing-4xl);
}

.ctaButton {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px;

    border-radius: var(--border-radius-sm);
    padding: var(--spacing-md) 88px;

    width: 267px;
    height: 60px;
    background-color: var(--color-primary);

    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-lg);
    line-height: var(--line-height-loose);
    color: var(--color-text);


    border: none;
    cursor: pointer;
    transition: background-color var(--transition-normal);
}

.ctaButton:hover {
    background-color: var(--color-primary-hover);
}

.rightBox {
    position: relative;
    border-radius: var(--border-radius-lg);
    padding: 80px 115px 111px 115px;
    width: 568px;
    background: #fbe9ba;
}

.laptopImage {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.stats {
    border: 1.50px dashed var(--color-primary);
    border-radius: var(--border-radius-lg);
    padding: 39px 122px;

}

.statList {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 100px;
}

.statItem {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    gap: var(--spacing-md);
}

.statNumber {
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-3xl);

    line-height: 1.14286;
    letter-spacing: -0.02em;
    color: var(--color-text);
}

.statLabel {
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-sm);

    line-height: 1.28571;
    letter-spacing: -0.02em;
    color: var(--color-text-secondary);
}