.stats {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: var(--spacing-4xl);

}

.statsList {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: var(--spacing-2xl);
    font-size: var(--font-size-base);
}

.statItem {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: var(--spacing-sm);
}

.statItem:not(:last-child)::after {
    position: absolute;
    content: "";
    right: -16px;
    width: 1px;
    height: var(--spacing-md);
    display: inline-block;
    background-color: var(--color-border-hover);
}

.bookOpen {
    stroke: var(--color-text);
}

.star {
    stroke: var(--color-text);
}

.statText {
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-base);
    line-height: var(--line-height-relaxed);
    color: var(--color-text);
}

.price {
    color: var(--color-success);
    font-weight: var(--font-weight-medium);
}

.favoriteBtn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.heart {
    stroke: var(--color-text);
}

.heartActive {
    stroke: #ff0000;
    fill: #ff0000;
}

.heart:hover {
    scale: 1.1;
}