.wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: var(--spacing-md);


}

.whatsappLink {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s ease;
}

.whatsappLink:hover {
    opacity: 0.7;
}

.userName {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-base);
    line-height: var(--line-height-snug);
    color: var(--color-text);
}

.logOutBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: var(--spacing-sm);

    border-radius: var(--border-radius-sm);
    padding-block: 14px;
    padding-inline: 39px;
    width: 166px;
    height: 48px;

    background: var(--color-text);

    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-base);

    line-height: var(--line-height-snug);
    color: var(--color-white);

    border: none;
}

.logOutBtn:hover {
    color: var(--color-primary-hover);
}