.wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 16px;


}

.userName {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    color: #121417;
}

.logOutBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 8px;

    border-radius: 12px;
    padding-block: 14px;
    padding-inline: 39px;
    width: 166px;
    height: 48px;

    background: #121417;

    font-weight: 700;
    font-size: 16px;

    /* line-height: 20px; */
    line-height: 1.25;
    color: #fff;

    border: none;
}

.logOutBtn:hover {
    color: #ffdc86;
}