.info {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.infoItem {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #8a8a89;
}

.infoItemLang {
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #121417;
}

.infoItemDesc {
    color: #121417;
}