.info {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
}

.infoItem {
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-base);
    line-height: var(--line-height-relaxed);
    color: var(--color-gray);
}

.infoItemLang {
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: var(--color-text);
}

.infoItemDesc {
    color: var(--color-text);
}